*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141E30,#243B55);
}

.container{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:15px;
}

h1{
    margin-bottom:10px;
}

p{
    margin-bottom:25px;
    color:#666;
}

a{
    display:block;
    text-decoration:none;
    margin:12px 0;
    padding:12px;
    background:#0077ff;
    color:white;
    border-radius:8px;
    transition: 0.3s;
}

a:hover{
    background:#0056cc;
}